@import "variables";
@import "reset";
@import "media-query";

@import "./header/header";
@import "./header/header-navigation/__link/__link.scss";
@import "./header/header-navigation/__logo/__logo.scss";
@import "./header/header-navigation/header-navigation.scss";
@import "./header/header-search/__input/__input.scss";
@import "./header/header-search/__sign-in-btn/__sign-in-btn.scss";
@import "./header/header-search/__sign-up-btn/__sign-up-btn.scss";
@import "./header/header-search/header-search.scss";

@import "./main/main.scss";
@import "./main/auth-column/auth-column.scss";
@import "./main/auth-column/auth/auth.scss";
@import "./main/auth-column/auth/auth-btn-container/auth-btn-container.scss";
@import "./main/auth-column/auth/auth-btn-container/__btn/__btn.scss";
@import "./main/auth-column/auth/auth-row/__input/__input.scss";
@import "./main/auth-column/auth/auth-row/__label/__label.scss";
@import "./main/auth-column/auth/auth-row/auth-row.scss";
@import "./main/auth-column/auth/password-requirement/password-requirement.scss";
@import "./main/auth-column/auth/password-requirement/__content/__content.scss";
@import "./main/auth-column/auth/password-requirement/__link/__link.scss";
@import "./main/auth-column/auth/user-agreement/user-agreement.scss";
@import "./main/auth-column/auth/user-agreement/__link/__link.scss";
@import "./main/auth-column/auth/user-agreement/__content/__content.scss";
@import "./main/description/__content/_bold/_bold";
@import "./main/description/__content/__content.scss";
@import "./main/description/__title/__title.scss";
@import "./main/description/description.scss";


@font-face {
  font-family: 'DeJavu Sans Mono';
  src: url('../font/dejavu-sans-mono.bold.ttf') format('ttf');
}

* {
  font-family: 'DeJavu Sans Mono', sans-serif;
}







