/* Extra small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .logo{
        margin: 23px 5px;
        margin-left: 5px;
        height: 20px;
        width: 20px;
    }
    .menu{
        width:100%; 
         .shao-sing{
            margin-top: 23px ;
            margin-right: -7px;
            width: 45px;
            height: 15px;
            font-size: 10px;

        }
        .shao-sing-up{
            width: 50px;
            height: 15px;
            margin-right: 5px;
            margin-top: 23px ;
            font-size: 10px;
        }
        .search{
            width: 50px;
            height: 13px;
            margin-top: 23px ;
            font-size: 7px;
            margin-right: -5px;
        }
        
    
    }
    nav{
        ul{
            margin: 20px 1px;
            li{
                a{
                   font-size: 10px;
                   margin: 3px;
                   
                }
            }
        }
    }
    
    .shao-page{
        .fon{
            width: 100%;
           
            .text{
                width: 50%;
                margin:  -100px;
                p{
                    font-size: 10px;
                    width: 55%;
                    
                }
                h2{
                    font-size: 35px;
                   
                }
            }
            h2{
                font-size: 10px;
            }
    
          .forms{
            margin: -200px 200px;
            width: 40%;
            height: 45%;
            .form{
                padding-top: 15px;
                input{
                    width: 130px;
                    height: 20px;
                    margin-left: 20px;
                }
                label{
                    font-size: 14px;
                    margin-left: 20px;
                }
                p{
                    font-size: 8px;
                    margin-left: 20px;
                    width: 150px ;
                    a{
                        font-size: 8px;
                    }
                }
                .button{
                    height: 20px;
                    width: 100px;
                    margin-left:35px ;
                    a{
                        font-size:8px ;
                    }
                }
               
            }

            
        }
    
    }
    
}
}

/*Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 768px) and (min-width: 577px) {
  .logo{
    margin: 3px 3px;
    margin-left: 0px;
  }
  
    .menu{
    width:100%; 

     .shao-sing{
        margin: 20px 3px;
        width: 65px;
        height: 20px;
    }
    .shao-sing-up{
        width: 65px;
        height: 20px;
        margin-right: 5px;
    }
    .search{
        width: 90px;
        height: 20px;
        margin-top: 20px ;
    }
    

  }
  nav{
    ul{
        margin: 25px 3px;
        li{
            a{
                margin: 5px 3px;
            }
        }
    }
  }


  .shao-page{
    .fon{
        .text{
            width: 70%;
            margin:  -100px;
            p{
                font-size: 15px;
                
            }
        }
        h2{
            font-size: 20px;
        }

    .forms{
        margin: -250px 330px;
        width: 55%;
        height: 65%;
    }
    }

  }

}