/*Medium devices (tablets, 768px and up)*/
@media (max-width: 868px){
    .header{
        .header-control{
        display: none;
       }
    }
}

@media (max-width: 992px){    
    .header{
        position: fixed;
    }
    
    .main-content{
        margin: auto;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .main-menu{
        width: 100%;
        margin: auto;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .main{
        display: flex;
    }
}
