                                                    // Header
$primary-bg-color: rgb(27, 31, 35);
$text-color: rgba(245, 245, 245, 0.93);
$link-hover-color: rgba(0, 255, 76, 0.617);
$input-placeholder-color: rgba(164, 167, 170);
$button-active-color: rgb(142, 184, 145);

                                                    //Main-content
$content-bg-image: url("https://catherineasquithgallery.com/uploads/posts/2023-01/1674247355_catherineasquithgallery-com-p-fon-dlya-prezentatsii-serogo-tsveta-foto-3.jpg");
$content-bg-color: #ffffff;
$content-text-color: white;
$content-title-font-size: 60px;
$content-title-width: 250px;
$content-title-padding-bottom: 20px;
$content-title-under-font-size: 20px;
$content-title-under-width: 471px;
$content-title-under-line-height: 30px;
$content-title-under-link-color: white;

$auth-form-bg-color: #ffffff;
$auth-form-text-color: rgb(78, 85, 82);
$auth-form-input-border-color: #ccc;
$auth-form-button-bg-color: rgb(43, 178, 62);
$auth-form-button-hover-bg-color: rgb(87, 198, 102);
$auth-form-button-width: 420px;
$auth-form-button-height: 80px;
$auth-form-button-font-size: 15px;
$auth-form-input-width: 390px;
$auth-form-input-padding: 10px;

$auth-form-first-text-color: rgb(106, 106, 106);
$auth-form-first-text-font-size: 12px;
$auth-form-first-text-margin-bottom: 14px;

$auth-form-second-text-color: rgb(106, 106, 106);
$auth-form-second-text-font-size: 12px;
$auth-form-second-text-margin-bottom: 14px;
