// Colors
$app-bgc: rgb(43, 49, 55);
$header-bgc: rgb(36, 41, 46);
$white-color: rgb(255, 255, 255);
$gray-color: rgb(150, 153, 156);
$link-color: rgb(41, 125, 220);
$auth-btn-color: rgb(46,188,79);

//Media breakpoints
$breakpoint_xxl: 1200px;
$breakpoint_xl: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
