$background-header: #24292e;
$background-body: #2b3137;
$background-textbox-header: #3f4448;
$background-bnt-main: #2ebc4f;
$background-menu-main: white;


$color-textbox-text-header: #72706c;
$color-text-main:white;
$color-text-header: white;
$color-info-password: #62666a;
$color-border-header-input: white;

$border-main-menu-input: gray;

$color-btn-header: none;
$color-btn-text-main: white;

$header-height-mobile: 150px;
$header-height-desktop: 100px;
