.header {
  &__nav {
    flex-grow: 1;
    text-align: start;
  }

  &__nav-item {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__nav-list {
    display: flex;
    gap: 16px;
    padding: 0 16px;
  }

  &__user-actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
