@include desktop {
  .main {
    align-items: center;
    gap: 100px;
    padding: 0 10%;
  }
}

@include laptop {
  .main {
    align-items: center;
    gap: 100px;
    padding: 0 10%;
  }
}

@include table {
  .main {
    margin-top: 20px;
    gap: 50px;
    flex-direction: column;
    padding: 0 5%;
  }
}

@include mobile {
  .main {
    margin-top: 20px;
    gap: 50px;
    flex-direction: column;
    padding: 0 2%;
  }
}
