@import "./header-navigation/header-navigation";
@import "./header-controls/header-controls";

.header {
  display: flex;
  background-color: $header-background-color;
  color: $text-color;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}


