.search__text {
  width: 80%;
  height: 40px;

  background: inherit;

  border: none;


  color: white;
  font-size: 20px;

  transform: scale(1);

  &:focus{
    border: none;
    outline: none;
  }

  &:focus + .search__slash {
    transform: scale(0);
  }

  &::placeholder{
    color: rgba(169, 161, 161, 0.62);
  }
}
