.navigation__drop-down-button {
  height: 24px;
  width: 24px;
  border: 0;

  background-color: #24292e;

  cursor: pointer;
}

.navigation__drop-down-button svg {
  padding-top: 3px;

  height: 18px;
  width: 18px;

  color: #91837a;
}
