
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 10px;
  width: 409px;
  height: 410px;
  
  a {
    color: rgb(90, 150, 228);
  }
  
  &__field {
    margin-bottom: 15px;
  }
    
    &__label {
      font-size: 14px;
      line-height: 34px;
      color: $auth-form-text-color;
    }
    
    &__input {
      width: $auth-form-input-width;
      padding: $auth-form-input-padding;
      border: 1px solid $auth-form-input-border-color;
      border-radius: 5px;
    }
  
  
  &__first-text__p {
    color: $auth-form-first-text-color;
    font-size: $auth-form-first-text-font-size;
    margin-bottom: $auth-form-first-text-margin-bottom;
    
    a {
      text-decoration: none;
    }
  }
  
  &__button {
    margin: 0 auto;
    background-color: $auth-form-button-bg-color;
    color: #fff;
    border: none;
    width: $auth-form-button-width;
    height: $auth-form-button-height;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: $auth-form-button-font-size;
    margin-bottom: 30px;
    
    &:hover {
      background-color: $auth-form-button-hover-bg-color;
    }
  }
  
  &__second-text__p {
    color: $auth-form-second-text-color;
    font-size: $auth-form-second-text-font-size;
    margin-bottom: $auth-form-second-text-margin-bottom;
    
    a {
      text-decoration: none;
    }
  }
}


